/* Reset Global */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Variáveis Globais */
:root {
    /* Cores */
    --color-primary: #96BB7C;
    --color-secondary: #3C0506;
    --color-info: #0061FF;
    --color-black: #252B42;
    --color-orange: #FC724D;
    --color-rose: #FFD4C9;

    --color-text-color: #FFFFFF;
    --color-black-text-color: #252B42;
    --color-second-text-color: #737373;
    --color-second-text-color2: #FF7171;
    --color-background-color: #FFFFFF;
    --color-netral-grey: #737373;
    --color-netral-d_grey: #444444;
    --color-netral-white: #FFFFFF;

    /* Fontes */
    --font-family: "Montserrat", sans-serif;

    /* Pesos Montserrat */
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    /* Tamanhos */
    --text-base: 14px;
    --text-base2: 16px;
    --text-2xl: 20px;
    --text-3xl: 32px;
    --text-4xl: 40px;

    --font-headline-1-size: 57px;
    --font-headline-1-weight: 600;
    --font-headline-2-size: 48px;
    --font-headline-2-weight: 600;
}

/* Corpo do site */
body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-base);
    color: var(--color-black);
}

/* Títulos */
h1 {
    font-size: var(--text-4xl);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-black-text-color);
}

h3 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
}

/* Parágrafos */
p {
    font-size: var(--text-base);
    font-weight: var(--font-weight-regular);
    line-height: 1.6;
    color: var(--color-netral-grey);
}

/* Texto em itálico */
.emphasis {
    font-style: italic;
}

/* Texto mais leve */
.light-text {
    font-weight: var(--font-weight-light);
}

/* Texto mais grosso */
.heavy-text {
    font-weight: var(--font-weight-black);
}

/* Links */
a {
    text-decoration: none;
}

.btn-navegation a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-primary);
}

/* Botões */
.btn-primary {
    background-color: var(--color-primary);
    padding: 15px 25px;
    border-radius: 4px;
    /* align-self: flex-start; */
    margin-top: 16px;
    color: var(--color-netral-white);
}

.btn-primary a {
    color: var(--color-netral-white);
}

/* Botões */
.btn-thirst {
    background-color: var(--color-netral-white);
    padding: 15px 25px;
    border-radius: 4px;
    /* align-self: flex-start; */
    margin-top: 16px;
    color: var(--color-netral-white);
    border: 1px solid var(--color-primary);
}

.btn-thirst a {
    color: var(--color-primary);
}

.btn-upper-case {
    text-transform: uppercase;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.btn-login {
    background-color: var(--color-netral-white);
    padding: 15px 32px;
    border-radius: 4px;
    /* align-self: flex-start; */
    font-weight: var(--font-weight-bold);
}

.btn-login a {
    color: var(--color-primary);
}

/* Listas */
ul {
    list-style: none;
}
