/* Importar as variaveis  */
@import url('./global.css');  

/*-- ------------ HEADER ---------- --*/
header{
    display: flex;
    justify-content: space-around; /* Horizontal | mantem o tamanho nas laterais */
    align-items: center; /* Vertical */
    padding: 33px 0px;
    background-color: var(--color-background-color);
    font-weight: var(--font-weight-semi-bold);
}


.nav-header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-header ul li a{
    color: var(--color-netral-grey);
    font-weight: var(--font-body2-weight-regular);
    transition: 0.3s;
}
.nav-header ul li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.container-btn-header img {
    margin-left: 10px;
}

/* ----------- FIM HEADER ----------- */

/* ----------- MAIN ----------- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    margin-left: 63px;

}

.content-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
    width: 441px;
    height: 332px;
}

.content-hero h1 {
    font-size: var(--font-headline-1-size);
    margin-bottom: 32px;
}

.content-hero p {
    margin-bottom: 32px;
    font-size: var(--text-2xl);
}

.content-hero-btn {
    display: flex;
    gap: 8px;
}


/* ----------- FIM MAIN ----------- */