/* Importar as variaveis  */
@import url('./global.css');  

/*-- ------------ HEADER ---------- --*/
header{
    display: flex;
    justify-content: space-around; /* Horizontal | mantem o tamanho nas laterais */
    align-items: center; /* Vertical */
    padding: 33px 0px;
    background-color: var(--color-background-color);
    font-weight: var(--font-weight-semi-bold);
}


.nav-header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-header ul li a{
    color: var(--color-netral-grey);
    font-weight: var(--font-body2-weight-regular);
    transition: 0.3s;
}
.nav-header ul li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.container-btn-header img {
    margin-left: 10px;
}

/*-- ------------ FIM HEADER ---------- --*/

/* ----------- FIM HEADER ----------- */